<div class="experience">
  <mat-card class="resume">
    <mat-card-header>
      Oscar Flores's Resume
      <button
        class="download"
        mat-raised-button
        onclick="window.open('https://github.com/oflores2313/resume/raw/master/flores-oscar-resume-2020%20(1).pdf')"
      >
        Download
      </button>
    </mat-card-header>

    <mat-card-content>
      <iframe
        src="https://docs.google.com/gview?url=https://github.com/oflores2313/resume/raw/master/flores-oscar-resume-2020%20(1).pdf &embedded=true"
        style="width:100%; height:80em;"
        frameborder="0"
      ></iframe>
    </mat-card-content>
  </mat-card>
</div>
