<div class="experience">
  <mat-card class="resume">
    <mat-card-header>
      Oscar Flores's Resume
      <button
        class="download"
        mat-raised-button
        onclick="window.open('https://raw.githubusercontent.com/oflores2313/resume/aadafca9a72fe5ab130ce26ea208b6efe7343ded/flores-oscar-resume.pdf')"
      >
        Download
      </button>
    </mat-card-header>

    <mat-card-content>
      <iframe
        src="https://docs.google.com/gview?url=https://raw.githubusercontent.com/oflores2313/resume/aadafca9a72fe5ab130ce26ea208b6efe7343ded/flores-oscar-resume.pdf &embedded=true"
        style="width:100%; height:80em;"
        frameborder="0"
      ></iframe>
    </mat-card-content>
  </mat-card>
</div>
