<div class="row contact">
<mat-card class="about-me" color="primary">
  <mat-card-header>
    <mat-card-title>
      ABOUT ME
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      My name is Oscar Flores and I'm a Full Stack Engineer.  I have experience in both front-end & back-end technologies. Over the past few years, I've been working with the Angular Framework (front-end) and PHP (back-end).  Recently, I have begun working with React, React Native (app development), and Vue as well as getting up to speed with Docker. 
    </p>
    <p>
      While I enjoy coding, my passion is playing baseball.  I have been playing baseball since I was 4 years old. Other hobbies include, every other sport, spending time with my wife and 2 kids (Rocky, golden retriever / german shepard mix,  and Loki, siberian husky ).  I say they are my kids since they require the same attention just without the speaking part. 
    </p>
    <p>
      Last but not least.. GO WHITE SOX!


    </p>
  </mat-card-content>
</mat-card>

<mat-card class="contact-me" color="primary">
  <mat-card-header>
      <mat-card-title>
         GET IN TOUCH
      </mat-card-title>
  </mat-card-header>
  <form [formGroup]="contactForm" (ngSubmit)="contactMe(contactForm.value)">
    <mat-card-content>
      <div class="contact-form">
        <p>
            I’m always looking to collaborate with new people. 
            If you have project idea in mind or would like to connect, please don’t hesitate to get in touch. 
            PLease fill out the form below.  I look forward to hearing from you!
        </p>
        <mat-form-field>
          <input matInput type="text" placeholder="Name" formControlName="name" id="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" id="email">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Message" formControlName="message" id="message"></textarea>
        </mat-form-field>
        
        <mat-form-field>
          <mat-select placeholder="Type" formControlName="messageType" id="messageType">
            <mat-option value="general">General</mat-option>
            <mat-option value="subscribe">Subscribe</mat-option>
            <mat-option value="employment">Employment Opportunities</mat-option>
          </mat-select>
        </mat-form-field>
        
        <button mat-raised-button >Send</button>
      </div>

    </mat-card-content>
  </form>
</mat-card>

</div>

