/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F8F8F8;
}

nav {
    background-color: white;
}
body > app-root > nav {
    box-shadow: 0 0 10px;
}
body > app-root > nav > div > a.nav-url.mat-tab-link{
    font-family: monospace;
    font-size: 16px;
}
body > app-root > nav > div > div >a:hover {
    text-decoration: none;
    color: grey;
}
body > app-root > nav > div > div {
    padding-left: 5em;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: black;
}

/* body > app-root > nav > div > a.nav-url.mat-tab-link.mat-tab-label-active a:hover{
    text-decoration: none;
    font-size: 16px; 
} */